/* styles.css */

body {
    margin: 0;
}

body h1, h2, h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

body h1 {
    color: #2377A8;
}

body h2, h3, p {
    color: #3f5965 ;

}

body p, li {
    font-family: "Montserrat", sans-serif;
    color: black;
}

body a {
    text-decoration: none;
    color: #3f5965;
    display: inline-block;
    transition: transform 0.3s ease;
}

body a:hover {
    color: #289db9;
    transform: scale(1.1);
} 

.background-div {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: auto;
    /* color: white; Makes the text stand out */
    margin: 0;
}

.background-div::before {
    content: "";
    background-image: url('../img/background.jpg'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; /* Adjust the opacity here */
    z-index: -1; /* Places the background behind the text */
}

/* fa colors*/
.fa-circle-check {
    color: #289db9;
}

.content {
    position: relative;
    z-index: 1; /* Ensures the content is above the background */
}
/* Navigation */
 ul li {
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 825px;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
nav ul li {
    font-weight: bold;
    color: #3f5965;
    transition: transform 0.3s ease;
}
nav ul li:hover {
    color: #289db9;
    transform: scale(1.1);
}

.logo {
    margin-left: 50px;
}

/* main content*/
.profile-picture {
    animation: zoomIn 1.5s forwards; /* Zoom-in effect */

}
.content {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}
main {
    width: 35%;
    margin-left: 90px;
}

.profile-img {
    height: 300px;
}

.main-text-content {
    margin-left: 40px;
}

.other-experience p, h3 {
    color: #3f5965;
}
.boutique-title {
    font-weight: bold;
}
/* show more styles other experience*/
.collapsed .more-experience {
    display: none;
}
.expanded .more-experience {
    display: list-item;
}
#toggle-btn {
    background-color: #289db9;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 35px;
}

/*aside*/
aside {
    width: 50%;
    margin-top: 200px;
}

.intro p {
    text-align: justify;
    opacity: 0; /* Start invisible */
    animation: slideUp 1.2s forwards; 
}

.pro-skills {
    opacity: 0; /* Start invisible */
    animation: slideUp 1s forwards; 
    animation-delay: 1.2s;
}
.soft-skills {
    opacity: 0; /* Start invisible */
    animation: slideUp 1s forwards; 
    animation-delay: 2.4s;

}

/* pro skills block*/
.pro-skills-list li, 
.soft-skills-list li {
    margin-bottom: 10px;
    margin-left: -40px;
}

/*popup styles*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-info {
    margin-top: 20px;
  
}

/* Add this to your existing CSS */
@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact-info {
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    opacity: 0; /* Start invisible */
    animation: slideUp 1s forwards; /* Animation details */
}

/* Add delays to each contact-info div for staggered effect */
.contact-info:nth-child(1) {
    animation-delay: 0.3s;
}
.contact-info:nth-child(2) {
    animation-delay: 0.5s;
}
.contact-info:nth-child(3) {
    animation-delay: 0.7s;
}

.map {
    margin-top: 20px;
    height: 410px; /* Set the height of the map */
    width: 810px;
    border-radius: 10px;
    overflow: hidden;
    animation: zoomIn 1s forwards; /* Zoom-in effect */
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(20px);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}